/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: defaults,not ie 11,not ie_mob 11
*/

/* After each changes, please recompile it here https://autoprefixer.github.io/. */

.cookie-banner {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: #000;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  padding: 16px;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  font-size: 14px;
  width: 480px;
  border-radius: 16px;
  bottom: 10px;
  right: 10px;
}

html[data-theme='light'] .cookie-banner {
  background: #fff;
}

.cookie-banner_hidden {
  transform: translateY(100%);
  pointer-events: none;
  opacity: 0;
}

.cookie-banner__desc {
  margin: 0;
}

.cookie-banner__actions {
  margin-top: 16px;
  margin-right: -16px;
  display: flex;
  justify-content: flex-start;
}

.cookie-banner__learn-more-button,
.cookie-banner__accept-button {
  font-family: inherit;
  font-size: inherit;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 16px;
  text-decoration: none;
}

.cookie-banner__learn-more-button {
  background: #fff;
  border: 1px solid #ff6112;
  color: #ff6112;
}

.cookie-banner__learn-more-button:hover {
  text-decoration: none;
}

.cookie-banner__accept-button {
  background: #ff6112;
  border: none;
  color: #fff;
  width: 120px;
}

@media (max-width: 560px) {
  .cookie-banner {
    width: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
  }

  .cookie-banner__accept-button {
    width: unset;
  }
}
